<div class="w-100">
    <h1 class="mb-0">Awanish
      <span class="text-primary"> Kumar</span>
    </h1>
    <div class="subheading mb-5">Jade resideance,whagholi,pune
      <a href="mailto:name@email.com">awanish@email.com</a>
    </div>
    <p class="lead mb-5">
      I have 4 + year experiance as a full stack development using agile framework. i have worked in verious domain Edution,Hospatality,Telcome and Banking. currently i am working in BNY on Yash Technology Payroll.
      i always prefeared to work with new Technology. i belived into self learning.
    <div class="social-icons">
      <a href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="#">
        <i class="fab fa-github"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>